<a href="https://colab.research.google.com/github/Vidhyachandran17/Guvi-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
type('a')

str

In [ ]:
type(1)
type(True)

bool

In [ ]:
type(1.563), type(1.6)

(float, float)

In [ ]:
a='vidhya'
#print=type(a),type(a)

In [ ]:
b=1
#print=type(b)

In [ ]:
c='v'
d='i'
e='d'
f='h'
#print=input(type(c), type(d), type(e), type(f))

In [ ]:
a='g'
b='u'
c='v'
d='i'
#input=str(input(a), input(b), input(c), input(d))

In [ ]:
a=2
b=4
c=5

#print=int(input(a) input(b) input(c))

In [ ]:

print(",".join("guvi"))

g,u,v,i

In [ ]:
input=348
#print=(",".join(str(input)))

In [ ]:
input="world"
#print=print char

In [ ]:
a = "guvi"
#print=" ".join_a

In [ ]:
a = ["GUVI"]
a.sort()
print(a)

['GUVI']

In [ ]:
a= 'globe'
print(a.capitalize())

Globe

In [ ]:
a= 'vidhya ramachandran'
print(a.title())

Vidhya Ramachandran

In [ ]:
a='vidhya'
print(a.upper())

VIDHYA

In [ ]:
b="VIDHYA"
print(a.lower())

vidhya

In [ ]:
a="VIDHYA"
print(a.swapcase())

vidhya

In [ ]:
a="vidhya"
print(a.count("h"))
print(a.count("y"))

1
1

In [ ]:
a="vviiddhhyyaa"
print(a.index("h"))
print(a.index("i"))

6
2

In [ ]:
a =["Vidh", "Vid"]
print(",".join(a))

Vidh,Vid

In [ ]:
a= "Vidhya Vids"
print(a.split())

['Vidhya', 'Vids']

In [ ]:
a= "vidhya rrr"
print(a.splitlines())

['vidhya rrr']

In [ ]:
A="good girl"
print(A.startswith("girl"))
print(A.startswith("good"))

False
True

In [ ]:
a = 'hello world'
print(a.startswith('hello'))
print(a.startswith('world'))

True
False

In [ ]:
A="VIDHYA"
print(A.isupper())
print(A.islower())
print(A.isspace())

True
False
False

In [ ]:
a = 'HELLO WORLD'
print(a.isupper())
print(a.islower())
print(a.isspace())

True
False
False

In [ ]:
a="   Vidhya ya   "
print(a.strip())

Vidhya ya

In [ ]:
a = '  hello world  '
print(a.strip())

hello world

In [ ]:
a="vids123"
print(a.isalpha())

False

In [ ]:
a = 'helloworld'
print(a.isalpha())

True

In [ ]:
a = 'hello123'
print(a.isalpha())

False

In [ ]:
a="Vids123"
print(a.isdigit())

False

In [ ]:
a='12365'
print(a.isdigit())

True

In [ ]:
a="123jkl"
print(a.isalnum())

True

In [ ]:
a="     hollow   "
print(a.lstrip())

hollow

In [ ]:
a="     hollow   "
print(a.rstrip())

     hollow

In [ ]:

# create a list of your name, profession, age
# inbetween age and profession, add your dob
# add hobby
# add fav movie, friend name
# inbetween fav movie and friend name, add your college name
# get the indexing value of your hobby
# delete the hobby
# replace your fav movie into something else

In [ ]:
a=["Vidhya", "Executive", 27]
(a.insert(2, 1998))
a.append("hearing songs")
a.extend(["Goat", "Vishali"])
a.insert(6,"HCC")
a.index("hearing songs")
a.remove("hearing songs")

In [ ]:
e = (43,'Movie',['Star','Universe'])
#  add earth at the end of the list
# add mars, jupiter
# replace mars with Milkyway
# delete the jupiter
# get the indexing value of milkyway

In [ ]:
e[2].append("Earth")
e

(43, 'Movie', ['Star', 'Universe', 'Earth', 'Earth'])

In [ ]:
e[2].extend(["Mars","Jupiter"])

In [ ]:
e[2][3]="Milkyway"
e[2].remove("Jupiter")
e[2].index("Milkyway")

3

In [ ]:
# create a dict of your name, dob, profession
# add fav hobby
# get the values separately
# get the keys separately
# add fav food
# change your fav hobby to something else
# delete the last item present in to dic


athicavy@guvi.in

In [ ]:
a={"name": "Vidhya", "dob": 1998, "profession": "Executive"}
a.update({"hobby": "singing"})
a

{'name': 'Vidhya', 'dob': 1998, 'profession': 'Executive', 'hobby': 'singing'}

In [ ]:
a.keys

In [ ]:
a.get("hobby")

'singing'

In [ ]:
a.get("name")

'Vidhya'

In [ ]:
a.get("profession")

'Executive'

In [ ]:
a.get(1998)

In [ ]:
a

{'name': 'Vidhya', 'dob': 1998, 'profession': 'Executive', 'hobby': 'singing'}

In [ ]:
a["hobby"]="Movie"

In [ ]:
a

{'name': 'Vidhya', 'dob': 1998, 'profession': 'Executive', 'hobby': 'Movie'}

In [ ]:
a.pop("hobby")

'Movie'

In [ ]:
name = "Vidhya"

In [ ]:
for letter in name:
  print(letter)

V
i
d
h
y
a

In [ ]:
name = "world"
for letter in name:
    print(letter)

w
o
r
l
d

In [ ]:
a ="guvigeek"
a = input()
for letter in a:
    print(letter)

guvigeek
g
u
v
i
g
e
e
k

In [ ]:
a= "guvi"
a=input()
",".join(a)
print(",".join(a))

guvi
g,u,v,i

In [ ]:
a = "5 3"
print(a)

5 3

In [ ]:
a =1
b = 2
c= 3
print(a,b,c)

1 2 3

In [ ]:
a = "vidhya"
a=input()
" ".join(a)
print(a)

vidhya
vidhya

In [ ]:
a=input()
" ".join((a))
print(a)

vidhya
vidhya

In [ ]:
a= "vidhya"
a=input()
",".join(a)
print(a)

vidhya
vidhya

In [ ]:
" ".join(a)
print(" ".join(a))

v i d h y a

In [ ]:
a=[1.0]
b=[2.2]
c=[2.3]
a= input()
b= input()
c= input()
for number in a:
    print(number)
for number in b:
    print(number)
for number in c:
    print(number)

1.0
2.2
2.3
1
.
0
2
.
2
2
.
3

In [ ]:
a= "0.1, 2.2, 3.0"
a=input()
a.split()

0.1

['0.1']

In [ ]:
a= [2.3,4.5,6.3]
a = float(input())
a.split()
for number in a:
    print(float(number))

2.3 4.5 6.3

ValueError: could not convert string to float: '2.3 4.5 6.3'

In [ ]:
a = [2.3, 1.2, 1.3]
for i in a:
 print(i)

2.3
1.2
1.3

In [ ]:
a= input()
for i in a:
    print(i)

2.3 1.2 1.3
2
.
3

1
.
2

1
.
3

In [ ]:
a= [1.2, 2.3, 1.2]
a=input()
b=input()
c=input()
a[0]
a[1]
a[2]

1.2
2.3
1.2

'2'

In [ ]:
a=float(1.3)

for number in a:
  print(number)

TypeError: 'float' object is not iterable

In [ ]:
a= 2
b= 3
a**b

8

In [ ]:
a = 2
b =3
#a= int(input())
#print(a**b)
a= int(input())
b= int(input())
print(a**b)

2
3
8

In [ ]:
a =1
b= 1
a= int(input())
b= int(input())
print(a+b)

1
1
2

In [ ]:
a=5
for i in range(a):
       print(i)
         if i==5:
  elif > 0:
        break

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [ ]:
a= 1
b=2
c= 3
a= input()
b= input()
c= input()
" ".join(a)
print(a)

1
2
3
1

In [ ]:
a = 4
a=input()
" ".join(a)
print(a)
print(a)
print(a)

4
4
4
4

In [ ]:
a =("vidhya")
a= input()
print(a.pop())

vidhya

AttributeError: 'str' object has no attribute 'pop'

In [ ]:
a =["Vidhya"]re
a=input()
print(a.reversed())r

SyntaxError: invalid syntax (<ipython-input-4-0ac5867d3812>, line 1)

In [ ]:
a="Vidhya R"
print(len(a))

8

In [ ]:

print(a)
print(b)
print(c)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-4-6e7d61a1f1c7>, line 1)

In [ ]:
num1=int(input())
num2=int(input())
num3=int(input())
max(num1,num2,num3)
print(max(num1,num2,num3))

1
2
3
3

In [ ]:
fruits = ['apple','mango','grape','banana']

for i in fruits:
  print(i)

apple
mango
grape
banana

In [ ]:
a=int(input())
b=int(input())
c=int(input())
print(a+b+c)

KeyboardInterrupt: Interrupted by user

In [ ]:
num = 10

for i in range(0, num+1):  #range(start,stop)
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
a=int(input())
for i in range(0, a+1):
  print(i)

5
0
1
2
3
4
5

In [ ]:
a = ['apple','mango','grape','banana',1,2,4,8]

for i in range(2,len(a)):
  print(i)

2
3
4
5
6
7

In [ ]:
a = ['apple','mango']

for i in a:
  if i == 'grape':
    print('grape founded')
  else:
    print('no grape founded')

no grape founded
no grape founded

In [ ]:
a = ['apple','mango','grape','banana']

for i in a:
  for j in i:
     print(j)

a
p
p
l
e
m
a
n
g
o
g
r
a
p
e
b
a
n
a
n
a

In [ ]:
a = ['apple','mango','grape','banana']
b = [1,2,4,8]

for i,j in zip(a,b):
  print(i,j)

NameError: name 'k' is not defined

In [ ]:
num = 0

while num < 10:
  print(num)
  num = num + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:

user_input = input("Do you want to continue? (yes/no): ")
while user_input.lower() == 'yes':
    print("Performing some action...")
    user_input = input("Do you want to continue? (yes/no): ")

Do you want to continue? (yes/no): yes
Performing some action...
Do you want to continue? (yes/no): yes
Performing some action...

KeyboardInterrupt: Interrupted by user

In [ ]:
**Question:** Write a program using a `for` loop to find the sum of all even numbers from 1 to 50.

In [ ]:
a = ['apple','mango','grape','banana']

for i in a:
  if i == 'grape':
    break
  print(i)

apple
mango

In [ ]:
numbers = [10, 11, 1, 13, 14, 15, 16]
evens = [x for x in numbers if x % 2 == 0]
print(evens)  # Output: [2, 4, 6, 8, 10]

[10, 14, 16]

In [ ]:
#**Question:** Write a program using a `for` loop to find the sum of all even numbers from 1 to 50.
a = [evens for i in range(50)]
evens = [i for i in a if i % 2 == 0]
print(evens)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [ ]:

num =[range(1,50)]

while num <= 2:
    if num % 2 == 0:
        print(num)
    num += 2

TypeError: '<=' not supported between instances of 'list' and 'int'

In [ ]:
floats=["1.2", "1.3","2.3"]
floats=input(3)
for i in floats:
  print(i)

3.2
3
.
2

In [ ]:
user_input = input("Enter text with float numbers: ")
for i in user_input:
  print(i)

Enter text with float numbers: 1.2 2.3 5.3
1
.
2

2
.
3

5
.
3

In [ ]:
a=["1.2 3.2 5.3"]
for line in a:
    for i in line.split():
        print(i)

1.2
3.2
5.3

In [ ]:
input_str = input("Enter numbers separated by spaces: ")

for num in input_str.split():
    print(num)

Enter numbers separated by spaces: 1.2 3.2 6.3
1.2
3.2
6.3

In [ ]:
input_str = input("Enter float numbers separated by spaces: ")
for num in input_str.split():
    print(float(num))

Enter float numbers separated by spaces: 1.2 2.3 6.3
1.2
2.3
6.3

In [ ]:
a = ['apple','mango','grape','banana']

for i in a:
  if i == 'grape':
    pass
  print(i)

apple
mango
grape
banana

In [ ]:
age = int(input('enter a age..'))

if age >= 18:
  print('You are an adult')
else:
  raise Exception('you are not an adult')

enter a age..18
You are an adult

In [ ]:
marks = int(input())
if marks >=60:
  print("You are eligible")
elif marks >=40:
 print("You are waiting list")
else:
  print("You are not eligible")

59
You are waiting list

In [ ]:
a = [x for x in range(50)]
print(a%2)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [ ]:
a=[x for x in range(50)]
evens = [x for x in a if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
**Scenario:** A movie theatre offers discounts:
- Below age 18: "Child - Discounted"
- Age 18 to 60: "Adult - Full Price"
- Above 60: "Senior - Half Price"

In [ ]:
age = int(input("Enter your age: "))
if age <=18:
 print("Child - Discounted")
if age >=18:
 print("Adult - Full Price")
 if age >=60:
  print("Senior - Half Price")
else:
 print("Senior - Half Price")

Enter your age: 8
Child - Discounted
Senior - Half Price

In [ ]:
**Question:** Write a function `greet_user(name)` that takes a name and prints:
`Hello, <name>! Welcome.`

In [ ]:
def add():
   print("Hello")

add()

Hello

In [ ]:
def add(a=3,b=4):
  c = a+b
  return c

In [ ]:
letters =['world', 'globe','earth','venus']
lengths = [len(word) for word in letters]
print(lengths)

[5, 5, 5, 5]

In [ ]:
space= ["List comprehension"]
lengths = [len(s.replace(" ", "")) for s in space]
print(lengths)

[17]

In [ ]:
def result(a,b):
  c = a+b
  return f'Your total marks is {c}'

x = int(input('enter a number'))
y = int(input('enter a number'))

print(result(x,y))

enter a number12
enter a number52
Your total marks is 64

In [ ]:
def submit(x,y):
  z=x+y
  return f'total values {z}'

  a = int(input('enter a number'))
  b = int(input('enter a number'))

  print(submit(a,b))

In [ ]:
def greet(name):
    def add_greeting():
        return f"Hello, {name}!"
    return add_greeting()

print(greet("Alice"))

Hello, Alice!

In [ ]:
def greet(name):
    def add_greeting():
        return f"Hello, {name}!"
    return add_greeting()

print(greet("MAha"))

Hello, MAha!

In [ ]:
Write a function `greet_user(name)` that takes a name and prints:
`Hello, <name>! Welcome.

In [ ]:
def greet(name):
    def add_greeting():
        return f"Hello, {name}! Welcome"
    return add_greeting()

print(greet("MAHA"))

Hello, MAHA! Welcome

In [ ]:
class Person:
  name = input()

  def greeting(name):
       print(f'hello {name}!')

vids

In [ ]:
Instruction:** Create a class `Student` with attributes `name` and `grade`.
Add a method `show_details()` that prints the student's name and grade.

In [ ]:
class person:
  def __init__(self, name, grade):
    self.name = name
    self.grade = grade

  def display(self):
    print(self.name)
    print(self.grade)

  name = input('enter name: ')
grade = input('enter grade: ')

enter name: Vidhya
enter grade: 98

In [ ]:
### **5. Method with Logic - Grade Checker**
**Instruction:** Extend the `Student` class with a method `check_pass()` that prints:
- "Pass" if grade >= 40
- "Fail" otherwise

In [ ]:
marks = int(input())
if marks >=40:
  print("Pass")
else:
  print("Fail")

In [ ]:
def add_numbers(a, b):
    return a + b
print(add_numbers(5,10))

15

In [ ]:
class MDTM37:
  def __init__(self):
    self.name = "John"
    self.age = 36

  def display(self):
    print(self.name)
    print(self.age)

  def nameandage(self):
    print(f'{self.name} is {self.age} years old')

person_detail = MDTM37.display()
person_name = MDTM37.nameandage()

TypeError: MDTM37.display() missing 1 required positional argument: 'self'

In [ ]:
from types import LambdaType
multiply = lambda a,b:a*b
print(multiply(2,3))

6

In [ ]:
subtract = lambda x, y: x - y
print(subtract(8, 3))  # Output: 5

In [ ]:
add = lambda x: x + 1
result = [add(x) for x in range(5)]
print(result)

[1, 2, 3, 4, 5]

In [ ]:
add = lambda x: x + 1
result = list(map(add, range(5)))
print(result)

[1, 2, 3, 4, 5]

In [ ]:
a= [1234]
a = list(map(int, input().split(' ')))

1

In [ ]:
%%time

for i in a:
  if i == 5:
    print(i)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 20.3 µs

In [ ]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

In [ ]:
For Loop with Condition - Odd Multiples**
**Scenario:** Print all numbers between 1 to 50 that are **odd multiples of 3** using a for loop.

In [ ]:
a=[x for x in range(50)]
odds = [x for x in a if x % 3 == 0]
print(odds)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
def area(length, width):
    return length * width

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
A = area(length, width)

print("The area of the rectangle is:", A)

Enter the length of the rectangle: 5
Enter the width of the rectangle: 5
The area of the rectangle is: 25.0

In [ ]:
class LoginSystem:
    def __init__(self):

        self.username = input("Enter your username: ")
        self.password = input("Enter your password: ")

    def login(self):

        if self.username == "admin" and self.password == "1234":
            return "Login successful!"
        else:
            return "Invalid username or password."

In [ ]:
total = 0
for i in range(1, 51):
    if i % 2 == 0:
        total += i
print("Sum of even numbers from 1 to 50 is:", total)

Sum of even numbers from 1 to 50 is: 650

In [ ]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def show_details(self):
        print("Name:", self.name)
        print("Grade:", self.grade)

In [ ]:
def check_login(username, password):
    if username == "admin" and password == "1234":
        print("Login Successful")
    else:
        print("Invalid Credentials")